<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Gerente</title>
    <link rel="stylesheet" href="css/perfil_gerente.css">
    <link rel="shortcut icon" href="/img/logo_mercado.png" type="image/x-icon">

</head>
<body>
<header>
    <h1>Perfil dos Gerentes</h1>
</header>

<div class="container">
    <div class="profile">
        <img src="img/gus_gerente.jpg" alt="Foto do Gerente">
        <h2>Gustavo Nogueira</h2>
        <p>Email: gustavo.s@estudantes.ifg.edu.br</p>
        <p>Telefone: (61) 1234-5678</p>
    </div>
</div>

<div class="container">
    <div class="profile">
        <img src="img/will_gerente.jpg" alt="Foto do Gerente">
        <h2>Wiliam Murcia</h2>
        <p>Email: william.murcia@estudantes.ifg.edu.br</p>
        <p>Telefone: (61) 5678-1234</p>
    </div>
</div>

</body>
</html>